/*font-family: 'Montserrat', sans-serif;*/

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #333;
	background: #eee;
	margin:0;
	padding:0;
}

/* Global Fixes */

a,a:hover,input,textarea,button,button:focus {
	outline: 0 !important;
}
input,button,textarea {
	font-family: 'Roboto', sans-serif;
}
.container {
	background-color: #fff;
}

/* Header */
.navbar {
	padding:8px 15px;
}

.navbar-brand {
	font-family: 'Montserrat', sans-serif;
	font-size: 36px;
	color: #593eb9;
	font-weight: 600;
	text-transform: uppercase;
	padding:0;
}

.nav-item.active {
	background: #593eb9;
	border-radius: 25px;
	color: #fff;
}

.nav-item.active .nav-link {
	color: #fff;
}

.nav-link {
	text-transform: uppercase;
	color: #333;
	font-size: 14px;
	padding: 5px 16px;
}

nav li {
	margin-right: 15px;
}

nav li:last-child {
	margin-right: 0;
}

.navbar-toggler {
	align-self: center;
}

/* Map Area */

.map_area {
	height: 550px;
	position: relative;
}

.map_area.small {
	height:250px;
}

.map_mark {
	background: #000;
	height: 26px;
	width: 26px;
	position: absolute;
	top: 50%;
	left: 37%;
}

/* Tooltip */
#map {
	width: 60%;
	margin: 0 auto;
    width:100%;
    height:550px;
}

#marker-tooltip {
    display: none;
    position:absolute;
    width: 300px;
    height: 200px;
    background-color: #ccc;
    margin: 15px;
}

#map .gm-style-iw strong {
	margin-bottom: 5px;
}

#map .gm-style-iw {
	font-size: 14px;
	line-height: 16px;
	color: #666;
}

/* Counter */
.dashboard_row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.counter_row, .counter_row .container {
	background: #593eb9;
	padding: 1rem;
}
.counter {
	padding: 35px 0;
}
.counter img {
	height: 28px;
	width:28px;
}

.counter h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #fff;
	font-size: 34px;
	margin:0.4em 0 0.2em 0;
}

.counter h6 {
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	text-transform: capitalize;
	letter-spacing: 1px;
	font-weight: 400;
	color: #fff;
	margin-bottom: 0;
}

/* Info Block */

.info_block {
	background: #fff;
	padding: 2.4em;
}

.info_block h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #333;
	font-size: 26px;
	margin:0 0 0.4em 0;
	padding:0;
}

.info_block p {
	color: #999;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	margin:0;
	padding: 0;
}

/* Forms & Buttons & Modal */

.modal-dialog {
	margin:1.6em auto;
}

label {
	text-transform: uppercase;
	color: #999;
	font-size: 14px;
}

.form-control:focus {
	border-color: #593eb9;
}

.btn {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	background: #593eb9;
	border-radius: 0;
	border:0;
	text-transform: uppercase;
}

.form-group:last-child {
	margin-bottom: 0;
}

.btn:hover,
.btn:focus {
	background: #593eb9;
}

/* Footer */

.footer {
	border-top: 2px solid #eee;
	padding:2.4em 0;
}

.footer {
	font-size: 12px;
	color: #666;
	font-weight: 400;
}

.copyright {
	align-items: center;
}

/*
    CakePHP Flash Box
*/

.message{
 background: #3498db;
 border: 1px solid #2980b9;
 font-family: inherit;
 color: #fff;
 width: 400px;
 line-height: 100%;
 padding: 10px;
 position: fixed;
 left: 20px;
 top: 80px;
 z-index: 999999;
 margin-top: 3px;
 border-radius: 6px;
 font-size: large;
 display: block;
}
.success {
   background: #3498db;
}
.error {
   background: red;
}

/* Responsive Fixes */

@media only screen and (min-width: 320px) and (max-width: 576px) {
.counter { margin-bottom: 2em; }
.counter:nth-child(3),.counter:nth-child(4) { margin-bottom: 0; }
.footer .col ~ .col { margin-top: 2em; }
.nav { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox;
	display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal;
	-webkit-flex-direction: column; -ms-flex-direction: column;
	flex-direction: column; align-content: center; padding:0; }
.nav li { margin-right: 0 }
.nav-link { padding:8px 16px 8px 0; }
.nav-item.active,.nav-item.active .nav-link { background:transparent; color: #593eb9; }
}
